<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 등록</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        /* 기본 스타일 설정 */
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin:  auto;
        }
        h1 {
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        label {
            margin: 10px 0 5px;
        }
        input, textarea {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        input[type="file"] {
            padding: 0;
        }
        button {
            padding: 10px 20px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            background-color: #218838;
        }
        .preview-container {
            margin-top: 20px;
            border: 1px solid #ddd;
            padding: 10px;
            min-height: 150px;
        }
        .preview-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            padding: 5px;
            border-radius: 4px;
            background-color: #f9f9f9;
            cursor: move;
        }
        .preview-item img {
            max-width: 100px;
            margin-right: 10px;
        }
        .preview-item button {
            margin-left: auto;
            background-color: #dc3545;
        }
        .preview-item button:hover {
            background-color: #c82333;
        }
        .drag-over {
            border: 2px dashed #000;
        }
    </style>
</head>
    <body>
        <div layout:fragment="content">

            <div class="container">
                <h1>상품 등록</h1>
                <form id="productForm" method="post">
                    <label for="name">상품 이름:</label>
                    <input type="text" id="name" name="name" required>

                    <label for="productId">상품 Id:</label>
                    <input type="text" id="productId" name="productId" required>

                    <label for="brandId">브랜드 Id:</label>
                    <input type="text" id="brandId" name="brandId" required>

                    <label for="categoryId">카테고리 Id:</label>
                    <input type="text" id="categoryId" name="categoryId" required>

                    <label for="descriptionId">상품 설명 Id:</label>
                    <input type="text" id="descriptionId" name="descriptionId" required>

                    <label for="description">상품 설명:</label>
                    <textarea id="description" name="description" rows="4" required></textarea>

                    <label for="managerName">등록자 이름:</label>
                    <input type="text" id="managerName" name="managerName" required>

                    <label for="size">사이즈:</label>
                    <input type="text" id="size" name="size" required>

                    <label for="color">색상:</label>
                    <input type="text" id="color" name="color" required>

                    <label for="quantity">재고:</label>
                    <input type="number" id="quantity" name="quantity" required>

                    <label for="price">상품 가격:</label>
                    <input type="number" id="price" name="price" step="0.01" required>

                    <label for="repImg">상품 대표 이미지:</label>
                    <input type="file" id="repImg" name="repImg" accept="image/*" multiple>

                    <label for="desImgs">상품 상세 이미지:</label>
                    <input type="file" id="desImgs" name="desImgs" accept="image/*" multiple>

                    <label for="represenImgs">상품 추가 이미지:</label>
                    <input type="file" id="represenImgs" name="represenImgs" accept="image/*" multiple>

                    <div class="preview-container" id="mainImagePreview">
                        <p>대표 이미지 미리보기:</p>
                    </div>
                    <div class="preview-container" id="detailImagesPreview">
                        <p>상세 이미지 미리보기:</p>
                    </div>
                    <div class="preview-container" id="additionalImagesPreview">
                        <p>추가 이미지 미리보기:</p>
                    </div>

                    <button id="submit" type="button">등록</button>
                </form>
            </div>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>

                let PresignedUrl;



                function handleFileSelect(event, previewContainerId) {
                    var files = event.target.files;
                    var previewContainer = document.getElementById(previewContainerId);

                    previewContainer.innerHTML = '';

                    for (var i = 0; i < files.length; i++) {
                        var file = files[i];
                        var reader = new FileReader();

                        reader.onload = function(e) {
                            var img = document.createElement('img');
                            img.src = e.target.result;

                            var previewItem = document.createElement('div');
                            previewItem.classList.add('preview-item');
                            previewItem.draggable = true;
                            previewItem.dataset.index = previewContainer.children.length;

                            var deleteButton = document.createElement('button');
                            deleteButton.innerText = '삭제';
                            deleteButton.type = 'button';
                            deleteButton.addEventListener('click', function() {
                                previewContainer.removeChild(previewItem);
                            });

                            previewItem.appendChild(img);
                            previewItem.appendChild(deleteButton);
                            previewContainer.appendChild(previewItem);
                        }

                        reader.readAsDataURL(file);
                    }

                    // event.target.value = '';
                }

                document.getElementById('repImg').addEventListener('change', function(event) {
                    handleFileSelect(event, 'mainImagePreview');
                });

                document.getElementById('desImgs').addEventListener('change', function(event) {
                    handleFileSelect(event, 'detailImagesPreview');
                });

                document.getElementById('represenImgs').addEventListener('change', function(event) {
                    handleFileSelect(event, 'additionalImagesPreview');
                });

                function enableDragAndDrop(previewContainer) {
                    previewContainer.addEventListener('dragstart', function(event) {
                        if (event.target.classList.contains('preview-item')) {
                            event.dataTransfer.setData('text/plain', event.target.dataset.index);
                            event.target.classList.add('dragging');
                        }
                    });

                    previewContainer.addEventListener('dragover', function(event) {
                        event.preventDefault();
                        event.target.classList.add('drag-over');
                    });

                    previewContainer.addEventListener('dragleave', function(event) {
                        event.target.classList.remove('drag-over');
                    });

                    previewContainer.addEventListener('drop', function(event) {
                        event.preventDefault();
                        event.target.classList.remove('drag-over');

                        var oldIndex = event.dataTransfer.getData('text/plain');
                        var newIndex = Array.from(previewContainer.children).indexOf(event.target);

                        if (newIndex !== -1 && oldIndex !== newIndex) {
                            var items = Array.from(previewContainer.children);
                            var draggedItem = items[oldIndex];
                            previewContainer.insertBefore(draggedItem, items[newIndex]);
                            items.forEach((item, index) => item.dataset.index = index);
                        }
                    });

                    previewContainer.addEventListener('dragend', function(event) {
                        event.target.classList.remove('dragging');
                    });
                }

                enableDragAndDrop(document.getElementById('mainImagePreview'));
                enableDragAndDrop(document.getElementById('detailImagesPreview'));
                enableDragAndDrop(document.getElementById('additionalImagesPreview'));

                /*
                *   상품 등록
                *
                * */




                $(function() {
                    $('#submit').on("click", function (event) {
                        event.preventDefault(); // 기본 폼 제출 방지

                        let dImgs = [];
                        let rImgs = [];

                        const productDto = {
                            productId: document.getElementById('productId').value,
                            name: document.getElementById('name').value,
                            brandId: document.getElementById('brandId').value,
                            productDescriptionDto: {
                                productDescriptionId: document.getElementById('descriptionId').value,
                                description: document.getElementById('description').value
                            },
                            categoryId: document.getElementById('categoryId').value,
                            price: document.getElementById('price').value,
                            managerName: document.getElementById('managerName').value,
                            size: [document.getElementById('size').value],
                            color: [document.getElementById('color').value],
                            quantity: [document.getElementById('quantity').value],
                        };

                        const representImg = document.getElementById('repImg').files[0];
                        const descriptionImgs = document.getElementById('desImgs').files;
                        const productImgs = document.getElementById('represenImgs').files;

                        const productImages = {
                            representImg,
                            descriptionImgs,
                            productImgs
                        };

                        // Collecting image details
                        for (let file of descriptionImgs) {
                            let ProductDescriptionImgRegisterDto = {
                                fileName: file.name,
                                fileType: file.type,
                                fileSize: file.size
                            };
                            dImgs.push(ProductDescriptionImgRegisterDto);
                        }

                        for (let file of productImgs) {
                            let ProductDescriptionImgRegisterDto = {
                                fileName: file.name,
                                fileType: file.type,
                                fileSize: file.size
                            };
                            rImgs.push(ProductDescriptionImgRegisterDto);
                        }

                        let data = {
                            ...productDto,
                            repImg: representImg.name,
                            desImgs: dImgs,
                            represenImgs: rImgs
                        };

                        console.log(data);

                        // AJAX 요청 보내기 -> axios로 바꾸기
                        axios.post('/product/admin/test/' + document.getElementById('productId').value, data, {
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                            .then(async function(response) {
                                const filePaths = response.data;
                                console.log(filePaths);
                                await iterateForGetUrl(filePaths, productImages);
                                alert('상품이 등록되었습니다.');
                            })
                            .catch(function(error) {
                                alert('상품 등록에 실패했습니다.');
                                console.error('Error:', error);
                            });
                    });
                });

                async function iterateForGetUrl(filePaths, productImages) {
                    const uploadPromises = [];

                    for (let i = 0; i < filePaths.descImgPath.length; i++) {
                        uploadPromises.push(getPresignedUrl(filePaths.descImgPath[i], productImages.descriptionImgs[i]));
                    }
                    for (let i = 0; i < filePaths.prodImgPath.length; i++) {
                        uploadPromises.push(getPresignedUrl(filePaths.prodImgPath[i], productImages.productImgs[i]));
                    }
                    uploadPromises.push(getPresignedUrl(filePaths.repImg, productImages.representImg));

                    // 모든 파일 업로드가 끝날 때까지 기다립니다.
                    await Promise.all(uploadPromises);
                }

                function getPresignedUrl(path, file) {
                    if (!path) {
                        console.error("Invalid path:", path);
                        return;
                    }

                    const encodedPath = encodeURIComponent(path);
                    console.log("Encoded path:", encodedPath);

                    return axios.get("/product/geturl", {
                        params: {
                            imagePath: encodedPath
                        }
                    }).then((response) => {
                        console.log(response);
                        return uploadImage(response.data, file);
                    }).catch((error) => {
                        console.log("에러", error);
                    });
                }

                async function uploadImage(url, file) {
                    const config = {
                        headers: {
                            'Content-Type': file.type
                        }
                    };

                    return axios.put(url, file, config).then((response) => {
                        console.log(response);
                    }).catch((error) => {
                        console.log("에러", error);
                    });
                }
            </script>
        </div>
    </body>
</html>