<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Toyproject2</title>

    <style>



    </style>
</head>
<body>
<div layout:fragment="content">

    <div id="item-contents" >
        <h1>낮은 가격 순</h1>
        <button type="button" class="btn btn-navy navbar-btn find-btn1" onclick="location.href='/product/101'">별점 순</button>
        <button type="button" class="btn btn-grey navbar-btn find-btn1" onclick="location.href='/product/100'">메인 화면</button>
        <button type="button" class="btn btn-grey navbar-btn find-btn1" onclick="location.href='/product/102'">판매 순</button>
        <div id="inner">로딩 중...</div>
    </div>





    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        let cursorMap = new Object();
        cursorMap.size = 9;
        let cursorProductId;
        cursorMap.sortCode = "LOWPRICE";

        const NoMoreRequest = 'End';

        window.addEventListener('DOMContentLoaded', function() {
            loadItems();
        });

        window.addEventListener('scroll', function() {
            if (window.scrollY + window.innerHeight > document.documentElement.scrollHeight - 100) {
                loadItems();
            }
        });


        function loadItems() {

            if(cursorProductId !== null && cursorProductId!==NoMoreRequest ){
                cursorMap.cursorProductId = cursorProductId;

                $.ajax({
                    url: '/product/list',
                    type: 'GET',
                    processData : true,
                    // contentType : "application/json; charset=UTF-8",
                    contentType: "application/x-www-form-urlencoded;",
                    data: cursorMap,

                    success: function(response) {
                        console.log('Received response:', response); // 디버깅 정보
                        if (response.length > 0) {
                            document.getElementById('inner').style.display = 'none';
                            response.forEach(function(item) {
                                document.getElementById('item-contents').insertAdjacentHTML('beforeend',
                                    '<div class="item" onclick="location.href=\'/product/detail/'+(item.productId)+'\'">'
                                    + '<p>'+(item.productName) +'</p>'+'<br>'
                                    + '<p>'+'가격 :'+ (item.price) +'</p>'+

                                    '</div>')
                            });
                            cursorProductId = response[response.length - 1].productId;
                        } else {
                            alert('더 이상 데이터가 없습니다.');
                            cursorProductId = NoMoreRequest;
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        document.getElementById('item-contents').textContent = '데이터 로드에 실패했습니다.';
                    }
                });
            }
        }

    </script>
</div>
</body>
</html>