<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="brandMapper">

    <select id="findById" parameterType="String" resultType="com.fastcampus.toyproject2.brand.dto.BrandDto">
        SELECT * FROM brand WHERE brand_id = #{brandId}
    </select>

    <insert id="insertBrand" parameterType="com.fastcampus.toyproject2.brand.dto.BrandDto">
        INSERT INTO brand (brand_id,
                             name,
                             img,
                           product_num,
                           create_datetime,
                           update_datetime)
        VALUES (
                #{brandId}
            , #{name}
            , #{img}
            , #{ProductNum}
            , NOW()
            , NOW()
               )

    </insert>

    <update id="updateBrand" parameterType="com.fastcampus.toyproject2.brand.dto.BrandUpdateDto">
        UPDATE brand
        <set>
            <if test="name != null">
                name = #{name}
            </if>
            <if test="img != null">
                img = #{img}
            </if>
        </set>
            WHERE brand_id = #{brandId}
    </update>



</mapper>