<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="brandMapper">
<!--    <resultMap id="ProductMap" type="Product">-->
<!--        <id column="product_id" property="userNo" jdbcType="INTEGER" javaType="int"/>-->
<!--        <result column="name" property="userName" jdbcType="VARCHAR" javaType="String"/>-->
<!--    </resultMap>-->

    <select id="findById" parameterType="String" resultType="com.fastcampus.toyproject2.brand.dto.Brand">
        SELECT * FROM brand WHERE brand_id = #{brandId}
    </select>

    <insert id="save" parameterType="com.fastcampus.toyproject2.brand.dto.Brand">
        INSERT INTO brand (brand_id,
                             name,
                             img,
                           product_num,
                           create_datetime,
                           update_datetime)
        VALUES (
                #{brandId}
            , #{name}
            , #{img}
            , #{ProductNum}
            , NOW()
            , NOW()
               )

    </insert>

</mapper>