<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="brandMapper">

    <insert id="insertBrand" parameterType="com.fastcampus.toyproject2.brand.dto.BrandCreateDto">
        INSERT INTO brand (brand_id
                          , name
                          , img
        )
        VALUES (
                 #{brandId}
               , #{name}
               , #{img}
               )

    </insert>




    <select id="findById" parameterType="String" resultType="com.fastcampus.toyproject2.brand.dto.BrandDto">
        SELECT * FROM brand WHERE brand_id = #{brandId}
    </select>

    <select id="findAll" resultType="com.fastcampus.toyproject2.brand.dto.BrandListDto">
        SELECT brand_id
        ,name
        ,product_num
        ,img
        FROM brand

    </select>




<!-- 나중에 브랜드 이미지 리스트 등록할지 고민. -->
    <update id="updateBrand" parameterType="com.fastcampus.toyproject2.brand.dto.BrandUpdateDto">
        UPDATE brand
        <set>
            <if test="name != null"> name = #{name} , </if>
        </set>
            WHERE brand_id = #{brandId}
    </update>

    <delete id="deleteById" parameterType="String">
        DELETE FROM brand WHERE brand_id =#{brand_id}
    </delete>


</mapper>