<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <style>
        table, tr, td, th {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
<script th:inline="javascript">
    let msg = [[${msg}]];
    if(msg === "UPDATE_OK") {
        alert("정상적으로 수정되었습니다.");
    }
</script>
<table>
    <tr>
        <th>공지 번호</th>
        <td th:text="${notice.notice_id}"></td>
    </tr>
    <tr>
        <th>제목</th>
        <td th:text="${notice.notice_title}"></td>
    </tr>
    <tr>
        <th>작성자</th>
        <td th:text="${notice.writer}"></td>
    </tr>
    <tr>
        <th>작성일</th>
        <td th:text="${notice.create_datetime}"></td>
    </tr>
    <tr>
        <th>수정자</th>
        <td th:text="${notice.modifier}"></td>
    </tr>
    <tr>
        <th>수정일</th>
        <td th:text="${notice.modify_datetime}"></td>
    </tr>
    <tr>
        <th>내용</th>
        <td th:text="${notice.notice_content}"></td>
    </tr>
</table>
<button onclick="listReq()">목록</button>
<button onclick="updateReq()">수정</button>
<button onclick="deleteReq()">삭제</button>
</body>
<script th:inline="javascript">
    const listReq = () => {
        location.href = "/cs/notice/list";
    }
    const updateReq = () => {
        location.href = `/cs/notice/update/[[${notice.notice_id}]]`;
    }
    const deleteReq = () => {
        if(!(confirm("정말로 삭제하시겠습니까?"))) return;
        location.href = `/cs/notice/delete/[[${notice.notice_id}]]`;
    }
</script>
</html>