<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="productMapper">
<!--    <resultMap id="ProductMap" type="Product">-->
<!--        <id column="product_id" property="userNo" jdbcType="INTEGER" javaType="int"/>-->
<!--        <result column="name" property="userName" jdbcType="VARCHAR" javaType="String"/>-->
<!--    </resultMap>-->


    <select id="findNameById" parameterType="String" resultType="String">
        SELECT name FROM product WHERE product_id = #{productId}
    </select>

    <!--글자수, 공백으로만 되어있는지는 앞에서 검사하기.-->
    <update id="updateProduct">
        UPDATE product
            SET
            <if test="repImg != null">
                    rep_img=#{repImg}
            </if>
            <if test ="productDescriptionId != null">
                    product_description_id = #{productDescriptionId}
            </if>
            <if test ="categoryId != null">
                    category_id = #{categoryId}
            </if>
            <if test="name !=null">
                    name != #{name}
            </if>
            <if test ="registerManager != null">
                    register_manager = #{registerManager}
            </if>
            <if test ="price != null">
                    price = #{price}
            </if>
            <if test ="isDisplayed != null">
                    is_displayed  = #{isDisplayed}
            </if>


                    modify_datetime = NOW()
        WHERE
            product_id = #{productId}



    </update>





    <insert id="insert" parameterType="com.fastcampus.toyproject2.product.dto.Product">
        INSERT INTO product (product_id,
                             product_description_id,
                             category_id,
                             brand_id,
                             name,
                             rep_img,
                             price,
                             create_datetime,
                             modify_datetime,
                             register_manager
                             )
        VALUES ( #{productId}, #{productDescriptionId}, #{categoryId}, #{brandId}
               , #{name}, #{repImg}, #{price}
               , NOW(), NOW()
               , #{registerManager} )

    </insert>

    <delete id="deleteByProductId" parameterType="String">
        DELETE FROM product WHERE product_id = #{productId}
    </delete>

</mapper>