<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="stockMapper">
<!--    <resultMap id="ProductMap" type="Product">-->
<!--        <id column="product_id" property="userNo" jdbcType="INTEGER" javaType="int"/>-->
<!--        <result column="name" property="userName" jdbcType="VARCHAR" javaType="String"/>-->
<!--    </resultMap>-->

    <insert id="insert" parameterType="java.util.List">
        INSERT INTO Stock (product_id,
                             size,
                             color,
                           quantity,
                           create_datetime)
        VALUES
        <foreach collection="list" item="item" index="idx" separator=",">
            (
            #{item.productId}
            , #{item.size}
            , #{item.color}
            , #{item.quantity}
            ,  NOW()
            )
        </foreach>
    </insert>

    <select id="selectByStockPk" parameterType="com.fastcampus.toyproject2.Item.stock.dto.StockPk" resultType="com.fastcampus.toyproject2.Item.stock.dto.Stock">
        SELECT * FROM Stock
        <where>
            <if test="productId != null">
                product_id = #{productId}
            </if>
            <if test="size != null">
                AND size = #{size}
            </if>
            <if test="color != null">
                AND color = #{color}
            </if>
        </where>
    </select>


    <update id="updateByStock" parameterType="com.fastcampus.toyproject2.Item.stock.dto.Stock">
        UPDATE  Stock SET quantity = #{quantity}, create_datetime = NOW()
            WHERE product_id = #{productId}
                AND size = #{size}
                AND color = #{color}
    </update>


    <delete id="deleteByStockPk" parameterType="com.fastcampus.toyproject2.Item.stock.dto.StockPk">
        DELETE FROM stock
        <where>
            <if test="productId != null">
                product_id = #{productId}
            </if>
            <if test="size != null">
                AND size = #{size}
            </if>
            <if test="color != null">
                AND color = #{color}
            </if>
        </where>
    </delete>

    <delete id="deleteByProductId" parameterType="String">
        DELETE FROM stock WHERE product_id = #{productId}
    </delete>



</mapper>