<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    a{
        text-decoration-line:  none;
    }

</style>
<div th:fragment="header">
    <div class="center">
        <div id="header">
            <ul>
                <li><a href="/product/100">Toy5</a></li><li>
                <a href="/cs/faq/list">FAQ</a></li><li>
                <a href="/product/admin/register">Register</a></li><li>
                <a th:unless="${session.id == null}" href="/product/admin/list">Admin</a></li><li>
                <a th:if="${session.id == null}" href="/member/login">Login</a></li><li>
                <a th:unless="${session.id == null}" href="/member/logout">logout</a></li><li>
                <a href="/signup/signup">signup</a></li>
                    <button style="margin-left: 30px">
                        <input type="text" class="page-search-header" placeholder="검색">
                    </button>
            </ul>
        </div>
    </div>
</div>
</html>
