<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FAQ List</title>
    <style>
        table, tr, td, th {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #e0f7fa;
        }
        a { text-decoration: none;}
        .thick-border th, .thick-border td {
            border: 3px solid black;
        }
        .category-buttons {
            margin-bottom: 20px;
        }
        .category-buttons button, .subcategory-buttons button {
            padding: 10px;
            margin-right: 5px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
            cursor: pointer;
        }
        .category-buttons button.active, .subcategory-buttons button.active {
            background-color: #e0f7fa;
        }
        .subcategory-buttons {
            margin-top: 10px;
            display: none; /* 기본적으로 서브카테고리는 숨깁니다. */
        }
    </style>
</head>
<body>
<h2>FAQ</h2>

<!-- 검색 폼 -->
<form th:action="@{/cs/faq/searchList}" method="get">
    <input type="text" name="q" placeholder="검색어를 입력하세요">
    <button type="submit">검색</button>
</form>

<!-- 메인 카테고리 버튼들 -->
<div class="category-buttons">
    <button th:classappend="${category_code == null} ? 'active' : ''" onclick="location.href='/cs/faq/list'">전체</button>
    <button th:classappend="${category_code == '30001'} ? 'active' : ''" onclick="location.href='/cs/faq/list/30001'">배송</button>
    <button th:classappend="${category_code == '30002'} ? 'active' : ''" onclick="location.href='/cs/faq/list/30002'">교환/취소(반품)</button>
    <button th:classappend="${category_code == '30003'} ? 'active' : ''" onclick="location.href='/cs/faq/list/30003'">서비스</button>
    <button th:classappend="${category_code == '30004'} ? 'active' : ''" onclick="location.href='/cs/faq/list/30004'">주문/결제</button>
    <button th:classappend="${category_code == '30005'} ? 'active' : ''" onclick="location.href='/cs/faq/list/30005'">상품확인</button>
    <button th:classappend="${category_code == '30006'} ? 'active' : ''" onclick="location.href='/cs/faq/list/30006'">회원 정보</button>
</div>

<!-- 서브카테고리 버튼들 -->
<div class="subcategory-buttons" id="deliverySubCategories" style="display: none;">
    <button th:classappend="${subcategory_id == null} ? 'active' : ''" onclick="location.href='/cs/faq/list/30001'">전체</button>
    <button th:classappend="${subcategory_id == 1} ? 'active' : ''" onclick="location.href='/cs/faq/list/30001/1'">배송 일반</button>
    <button th:classappend="${subcategory_id == 2} ? 'active' : ''" onclick="location.href='/cs/faq/list/30001/2'">기타</button>
    <button th:classappend="${subcategory_id == 3} ? 'active' : ''" onclick="location.href='/cs/faq/list/30001/3'">예약 배송</button>
    <button th:classappend="${subcategory_id == 4} ? 'active' : ''" onclick="location.href='/cs/faq/list/30001/4'">무탠 픽업</button>
    <button th:classappend="${subcategory_id == 5} ? 'active' : ''" onclick="location.href='/cs/faq/list/30001/5'">주문제작 배송</button>
    <button th:classappend="${subcategory_id == 6} ? 'active' : ''" onclick="location.href='/cs/faq/list/30001/6'">부티크 배송</button>
</div>

<div class="subcategory-buttons" id="exchangeSubCategories" style="display: none;">
    <button th:classappend="${subcategory_id == null} ? 'active' : ''" onclick="location.href='/cs/faq/list/30002'">전체</button>
    <button th:classappend="${subcategory_id == 7} ? 'active' : ''" onclick="location.href='/cs/faq/list/30002/7'">취소/반품(환불)</button>
    <button th:classappend="${subcategory_id == 8} ? 'active' : ''" onclick="location.href='/cs/faq/list/30002/8'">교환/반품</button>
    <button th:classappend="${subcategory_id == 9} ? 'active' : ''" onclick="location.href='/cs/faq/list/30002/9'">무탠 픽업 취소/환불</button>
</div>

<div class="subcategory-buttons" id="serviceSubCategories" style="display: none;">
    <button th:classappend="${subcategory_id == null} ? 'active' : ''" onclick="location.href='/cs/faq/list/30003'">전체</button>
    <button th:classappend="${subcategory_id == 10} ? 'active' : ''" onclick="location.href='/cs/faq/list/30003/10'">혜택</button>
    <button th:classappend="${subcategory_id == 11} ? 'active' : ''" onclick="location.href='/cs/faq/list/30003/11'">고객센터</button>
    <button th:classappend="${subcategory_id == 12} ? 'active' : ''" onclick="location.href='/cs/faq/list/30003/12'">AS</button>
    <button th:classappend="${subcategory_id == 13} ? 'active' : ''" onclick="location.href='/cs/faq/list/30003/13'">기타</button>
    <button th:classappend="${subcategory_id == 14} ? 'active' : ''" onclick="location.href='/cs/faq/list/30003/14'">프로모션/이벤트</button>
    <button th:classappend="${subcategory_id == 15} ? 'active' : ''" onclick="location.href='/cs/faq/list/30003/15'">웹/앱 이용 문의</button>
    <button th:classappend="${subcategory_id == 16} ? 'active' : ''" onclick="location.href='/cs/faq/list/30003/16'">후기</button>
    <button th:classappend="${subcategory_id == 17} ? 'active' : ''" onclick="location.href='/cs/faq/list/30003/17'">무쉰사 스탠다드</button>
    <button th:classappend="${subcategory_id == 18} ? 'active' : ''" onclick="location.href='/cs/faq/list/30003/18'">부티크</button>
    <button th:classappend="${subcategory_id == 19} ? 'active' : ''" onclick="location.href='/cs/faq/list/30003/19'">무쉰사 전문관</button>
    <button th:classappend="${subcategory_id == 20} ? 'active' : ''" onclick="location.href='/cs/faq/list/30003/20'">PLUS 배송</button>
    <button th:classappend="${subcategory_id == 21} ? 'active' : ''" onclick="location.href='/cs/faq/list/30003/21'">무쉰사 테라스</button>
</div>

<div class="subcategory-buttons" id="orderSubCategories" style="display: none;">
    <button th:classappend="${subcategory_id == null} ? 'active' : ''" onclick="location.href='/cs/faq/list/30004'">전체</button>
    <button th:classappend="${subcategory_id == 22} ? 'active' : ''" onclick="location.href='/cs/faq/list/30004/22'">기타</button>
    <button th:classappend="${subcategory_id == 23} ? 'active' : ''" onclick="location.href='/cs/faq/list/30004/23'">결제수단</button>
    <button th:classappend="${subcategory_id == 24} ? 'active' : ''" onclick="location.href='/cs/faq/list/30004/24'">주문</button>
    <button th:classappend="${subcategory_id == 25} ? 'active' : ''" onclick="location.href='/cs/faq/list/30004/25'">무쉰사페이</button>
</div>

<div class="subcategory-buttons" id="productSubCategories" style="display: none;">
    <button th:classappend="${subcategory_id == null} ? 'active' : ''" onclick="location.href='/cs/faq/list/30005'">전체</button>
    <button th:classappend="${subcategory_id == 26} ? 'active' : ''" onclick="location.href='/cs/faq/list/30005/26'">불량/하자</button>
    <button th:classappend="${subcategory_id == 27} ? 'active' : ''" onclick="location.href='/cs/faq/list/30005/27'">상품 문의</button>
    <button th:classappend="${subcategory_id == 28} ? 'active' : ''" onclick="location.href='/cs/faq/list/30005/28'">직매입/입점</button>
</div>

<div class="subcategory-buttons" id="customerSubCategories" style="display: none;">
    <button th:classappend="${subcategory_id == null} ? 'active' : ''" onclick="location.href='/cs/faq/list/30006'">전체</button>
    <button th:classappend="${subcategory_id == 29} ? 'active' : ''" onclick="location.href='/cs/faq/list/30006/29'">탈퇴/기타</button>
    <button th:classappend="${subcategory_id == 30} ? 'active' : ''" onclick="location.href='/cs/faq/list/30006/30'">로그인/정보</button>
    <button th:classappend="${subcategory_id == 31} ? 'active' : ''" onclick="location.href='/cs/faq/list/30006/31'">가입/인증</button>
</div>
<!-- FAQ 리스트 테이블 -->
<table>
    <tr class="thick-border">
        <th>번호</th>
        <th>문의유형</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
    </tr>
    <tr th:each="faq: ${faqDtoDescCatCodeList}">
        <td th:text="${faq.faq_id}"></td>
        <td th:text="${faq.faq_category_name}"></td>
        <td>
            <a th:text="${faq.faq_title}" th:href="@{|/cs/faq/${faq.faq_id}|}"></a>
        </td>
        <td th:text="${faq.writer}"></td>
        <td th:text="${faq.create_datetime}"></td>
    </tr>
</table><br>

<!-- 글쓰기 버튼 -->
<button id="writeNewBtn" th:onclick="|location.href='@{/cs/faq/insert}'|">글쓰기</button><br>

<!-- JavaScript 로직 -->
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const faqCategoryCode = [[${category_code}]]; // 현재 페이지의 faq_category_code 값

        // 해당 카테고리에 맞는 서브카테고리를 보여줍니다.
        if (faqCategoryCode === '30001') {
            document.getElementById('deliverySubCategories').style.display = 'block';
        } else if (faqCategoryCode === '30002') {
            document.getElementById('exchangeSubCategories').style.display = 'block';
        } else if (faqCategoryCode === '30003') {
            document.getElementById('serviceSubCategories').style.display = 'block';
        } else if (faqCategoryCode === '30004') {
            document.getElementById('orderSubCategories').style.display = 'block';
        } else if (faqCategoryCode === '30005') {
            document.getElementById('productSubCategories').style.display = 'block';
        } else if (faqCategoryCode === '30006') {
            document.getElementById('customerSubCategories').style.display = 'block';
        }
        // 추가적인 카테고리에 대한 로직 추가 가능
    });
</script>
</body>
</html>
