<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글작성화면</title>
</head>
<body>
<script>
    let msg = "[[${msg}]]";
    if(msg=="INSERT_OK") alert("정상적으로 등록되었습니다.");
    if(msg=="INSERT_ERR") alert("게시물 등록에 실패하였습니다. 다시 시도해 주세요.");
</script>
<script>
    function SubCategoryChoice(){
        //선택지의 선택값 가져오기
        var categoryCode = document.getElementById("category").value;
        var subcategory = document.getElementById("subcategory");

        // 서브카테고리 선택지를 초기화
        subcategory.innerHTML = "";

        //선택한 카테고리에 따라 서브카테고리 선택지 추가
        if (categoryCode === "30001") { // 배송
            var options = [
                { value: "1", text: "배송 일반" },
                { value: "2", text: "기타" },
                { value: "3", text: "예약 배송" },
                { value: "4", text: "무탠 픽업" },
                { value: "5", text: "주문제작 배송" },
                { value: "6", text: "부티크 배송" }
            ];
        } else if (categoryCode === "30002") { // 교환/취소(반품)
            var options = [
                { value: "7", text: "취소/반품(환불)" },
                { value: "8", text: "교환/반품" },
                { value: "9", text: "무탠 픽업 취소/환불" }
            ];
        } else if (categoryCode === "30003") { // 서비스
            var options = [
                { value: "10", text: "혜택" },
                { value: "11", text: "고객센터" },
                { value: "12", text: "AS" },
                { value: "13", text: "기타" },
                { value: "14", text: "프로모션/이벤트" },
                { value: "15", text: "웹/앱 이용 문의" },
                { value: "16", text: "후기" },
                { value: "17", text: "무쉰사 스탠다드" },
                { value: "18", text: "부티크" },
                { value: "19", text: "무쉰사 전문관" },
                { value: "20", text: "PLUS 배송" },
                { value: "21", text: "무쉰사 테라스" }
            ];
        } else if (categoryCode === "30004") { // 주문/결제
            var options = [
                { value: "22", text: "기타" },
                { value: "23", text: "결제수단" },
                { value: "24", text: "주문" },
                { value: "25", text: "무쉰사페이" }
            ];
        } else if (categoryCode === "30005") { // 상품확인
            var options = [
                { value: "26", text: "불량/하자" },
                { value: "27", text: "상품 문의" },
                { value: "28", text: "직매입/입점" }
            ];
        } else if (categoryCode === "30006") { // 회원정보
            var options = [
                { value: "29", text: "탈퇴/기타" },
                { value: "30", text: "로그인/정보" },
                { value: "31", text: "가입/인증" }
            ];
        }
        // 서브카테고리 선택창에 옵션을 추가합니다.
        for (var i = 0; i < options.length; i++) {
            var opt = document.createElement("option");
            opt.value = options[i].value;
            opt.innerHTML = options[i].text;
            subcategory.appendChild(opt);
        }
    }
</script>
<form action="/cs/faq/insert" method="post">
    제목 : <input type="text" name="faq_title" th:value="${faqDto != null ? faqDto.faq_title : ''}"><br>
    작성자 : <input type="text" name="writer" th:value="${admin_id}" readonly><br>
    <label for="category">문의 유형 : </label>
    <select id="category" name="faq_category_code" onchange="SubCategoryChoice()">
        <option value="30001">배송</option>
        <option value="30002">교환/취소(반품)</option>
        <option value="30003">서비스</option>
        <option value="30004">주문/결제</option>
        <option value="30005">상품확인</option>
        <option value="30006">회원정보</option>
    </select>
    <label for="subcategory">세부 카테고리 : </label>
    <select id="subcategory" name="faq_subcategory_id">
        <!-- 동적으로 옵션이 추가 -->
    </select>
    <br>
    내용 : <textarea name="faq_content" cols="30" rows="10" th:text="${faqDto != null ? faqDto.faq_content : ''}"></textarea><br>
    FAQ 표시 :
    <input type="radio" name="is_post" value="Y" checked> Y
    <input type="radio" name="is_post" value="N"> N<br>

    <input type="submit" value="작성">
</form>
</body>
</html>
