<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
        .container {
            max-width: 600px;
            margin:  auto;
        }

    </style>
</head>
<body>
<div layout:fragment="content">
    <button id="testbt" type="button">불러오기</button>

    <div id="test"></div>
    <div class="container">
    <form id="productForm" method="post" enctype='multipart/form-data'>
        <div class="preview-container" id="mainImagePreview">
            <p>대표 이미지 미리보기:</p>
        </div>

        <label for="repImg">상품 대표 이미지:</label>
        <input type="file" id="repImg" name="repImg" accept="image/*">

        <button id="submit" type="button">등록</button>
    </form>
    </div>


    <script th:inline="javascript">
        //axios 사용시 head에 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js> 넣어주기.**

    let PresignedUrl;


    function handleFileSelect(event, previewContainerId) {
            var files = event.target.files;
            var previewContainer = document.getElementById(previewContainerId);

            previewContainer.innerHTML = '';

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var reader = new FileReader();

                reader.onload = function(e) {
                    var img = document.createElement('img');
                    img.src = e.target.result;

                    var previewItem = document.createElement('div');
                    previewItem.classList.add('preview-item');
                    previewItem.draggable = true;
                    previewItem.dataset.index = previewContainer.children.length;

                    var deleteButton = document.createElement('button');
                    deleteButton.innerText = '삭제';
                    deleteButton.type = 'button';
                    deleteButton.addEventListener('click', function() {
                        previewContainer.removeChild(previewItem);
                    });

                    previewItem.appendChild(img);
                    previewItem.appendChild(deleteButton);
                    previewContainer.appendChild(previewItem);
                }

                reader.readAsDataURL(file);
            }

            // event.target.value = '';
        }

        document.getElementById('repImg').addEventListener('change', function(event) {
            handleFileSelect(event, 'mainImagePreview');
        });

        function order() {
            $.ajax({
                url: '/product/getImage',
                type: 'GET',
                processData: true,
                contentType: "application/x-www-form-urlencoded;",
                success: function (response) {
                    console.log('Received response:', response); // 디버깅 정보

                    document.getElementById('test').insertAdjacentHTML('beforeend',
                        '<img src="' + response + '">');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    document.getElementById('test').textContent = '데이터 로드에 실패했습니다.';
                }
            });
        }
        document.getElementById("testbt").addEventListener("click", order);



        $(function() {
            $('#submit').on("click",  async function (event) { //async 붙여야함.
                event.preventDefault(); // 기본 폼 제출 방지


                const formData = new FormData();

                const repImg = document.getElementById('repImg').files[0];
                console.log(repImg.name);
                console.log(repImg.type);
                console.log(repImg.size);

                await getPresignedUrl(repImg);
                console.log(PresignedUrl);
                uploadImage(PresignedUrl, repImg)// await 붙여야 PresignedUrl 에 값이 넣어지고 다음으로 넘어감.

            });
        });

        async function getPresignedUrl(repImg) { //async 붙여야함.
            await axios.get("geturl", { // await 붙여야 checkURL이 나옴
                params :{
                    imageName : repImg.name
                }
            }).then((Response)=>{
                console.log(Response);
                PresignedUrl = Response.data;
            }).catch((Error)=>{
                    console.log("에러");
                }
            )
        }


        function uploadImage(url,repImg) {
            const config = {
                headers: {
                    'Content-Type': repImg.type  // repImg의 MIME 타입을 Content-Type 헤더로 설정
                }
            };
            axios.put(url, repImg, config).then((Response)=>{
                console.log(Response);
            }).catch((Error)=>{
                    console.log("에러");
                }
            )
            return Response;
        }

    </script>
</div>
</body>
</html>