<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:inline="javascript">
    let msg = [[${msg}]];
    if(msg === "UPDATE_ERR") {
        alert("수정에 실패했습니다. 다시 시도하십시오.");
    }
</script>
<form th:action="@{|/notice/update/${notice.notice_id}|}" method="post" name="updateForm">
    <input type="hidden" name="notice_id" th:value="${notice.notice_id}">
    작성자 : <input type="text" name="writer" th:value="${notice.writer}" readonly><br>
    제목 : <input type="text" name="notice_title" th:value="${notice.notice_title}"><br>
    내용 : <textarea name="notice_content" cols="30" rows="10" th:text="${notice.notice_content}"></textarea><br>
    공지 상단 고정 :
    <input type="radio" name="is_top_post" value="Y"> Y
    <input type="radio" name="is_top_post" value="N" checked> N<br>

    공지 표시 :
    <input type="radio" name="is_post" value="Y" checked> Y
    <input type="radio" name="is_post" value="N"> N<br>

    <input type="button" value="수정" onclick="notice_update()">
</form>
</body>
<script th:inline="javascript">
    const notice_update = () => {
        updateForm.submit();
    }
</script>
</html>

<!--다시 리다이렉트 됐을때 작성했던 내용이 유지되도록 수정-->