<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.toyproject2.member.dao.LoginDao">
    <!-- 회원 id로 회원 정보 조회 -->
    <select id="selectMemberByMemberId" parameterType="string" resultType="com.fastcampus.toyproject2.member.dto.LoginDto">
        select member_number, member_state_code, id, password,name, birth, sex, phone_number, email,
               DATE_FORMAT(login_datetime, '%Y-%m-%d %H:%i:%s'),
               DATE_FORMAT(modify_datetime, '%Y-%m-%d %H:%i:%s'),
               DATE_FORMAT(register_datetime, '%Y-%m-%d %H:%i:%s'),
               DATE_FORMAT(exit_datetime, '%Y-%m-%d %H:%i:%s'),
               recommand_id, login_count, is_admin, note
        from member_info
        where id = #{id}
          AND NOT member_state_code = '40004'
    </select>

    <!-- 회원 id, password로 회원 정보 조회 - 로그인 -->
    <select id="selectMemberByMemberIdPassword" parameterType="string" resultType="com.fastcampus.toyproject2.member.dto.LoginDto">
        select id, password
        from member_info
        where id = #{id}
          AND password = #{password}
          AND NOT member_state_code = '40004'
    </select>

</mapper>